ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray
  }
  
  li {
    float: left;
  }
  
  li button {
    display: block;
    margin: 10px;
    outline: none;
    box-shadow: none;
  }
